 <div class="row">
 <div class="col-8 mx-auto text-center">
<h1>welcome to <i class="fa-solid fa-book"></i> Bookers !!</h1>
 <div class="d-inline-block text-start">
<p>
  <br>In <i class="fa-solid fa-book"></i> Bookers,
  <br>you can share and exchange your opinions, impressions, and emotions
  <br>about various books!
</p>
</div>
</div>
</div>


 <div class="row">
 <div class="col-8 mx-auto text-center">
<p><%= link_to 'Log in', new_user_session_path, class: 'btn btn-info', style: 'width: 400px;' %></p>

<p><%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-success', style: 'width: 400px;' %></p>
</div>
</div>



